/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  images: {
    domains: [],
  },
  env: {
    API_IMG: '',
    API_URL: '',
  },
};

module.exports = nextConfig;
