@charset "UTF-8";

@import 'sass-eo-lib-magic';
@import 'sass-eo-basics';
@import '../../sass/buttons';

.navbar {
  background: rgb(65, 65, 65);
  background: linear-gradient(
    94deg,
    rgba(65, 65, 65, 1) 0%,
    rgba(72, 156, 158, 1) 0%,
    rgba(20, 124, 136, 1) 62%,
    rgba(43, 113, 120, 1) 100%,
    rgba(89, 89, 89, 1) 100%
  );

  .logo {
    @include magic-spaceInLeft($duration: 1s);
    border: solid 4px #eee;
    border-radius: 25%;
    padding: 0.1rem;
    margin-left: 2rem;
  }

  .title {
    @include animation-fade($in-out: in);
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    & > button {
      background: teal;
      transition: ease-in-out 0.3s;
      margin-right: 1rem;

      &:hover {
        background: #ebebeb;

        & > a {
          transition: ease-in-out 0.3s;
          @include animation-scale($scaleValue: 1.15);
          color: #333;

          @include breakpoint(max, 768px) {
            @include animation-scale($scaleValue: 1.05);
          }
        }
      }

      & > a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.025em;
        color: #eee;
      }
    }
  }
}
