@charset "UTF-8";

@import 'sass-eo-lib-magic';
@import 'sass-eo-basics';
@import '../../../styles/sass/buttons';

.navbar {
  background: rgb(65, 65, 65);
  background: linear-gradient(
    94deg,
    rgba(65, 65, 65, 0.527) 0%,
    rgba(72, 157, 158, 0.664) 0%,
    rgba(20, 124, 136, 0.664) 62%,
    rgba(43, 114, 120, 0.623) 100%,
    rgba(89, 89, 89, 0.582) 100%
  );
  backdrop-filter: blur(5px);

  .logo {
    @include magic-spaceInLeft($duration: 1s);
    border: solid 4px #eee;
    border-radius: 25%;
    padding: 0.1rem;
    margin-left: 2rem;
  }

  .title {
    @include animation-fade($in-out: in);

    @include breakpoint(max, 600px) {
      font-size: 22px;
    }

    @include breakpoint(max, 500px) {
      font-size: 18px;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;

    @include breakpoint(max, 500px) {
      padding: 2rem;
    }

    & > button {
      background: teal;
      transition: ease-in-out 0.3s;
      margin-right: 1rem;
      color: #eee;
      min-width: 2rem;

      &:hover {
        background: #ebebeb;
        color: #444;

        & > a {
          transition: ease-in-out 0.3s;
          @include animation-scale($scaleValue: 1.15);
          color: #333;

          @include breakpoint(max, 768px) {
            @include animation-scale($scaleValue: 1.05);
          }
        }
      }

      & > a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.025em;
        color: #eee;
      }
    }
  }
}
