@charset "UTF-8";

@import 'sass-eo-basics';
@import '../sass/buttons';

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem;
  background-color: rgba(223, 223, 223, 0.521);
  padding: __convertToRem($value: 3px);
  width: __convertToRem($value: 400px);
  height: __convertToRem($value: 630px);
  border-radius: 12px;
  transition: all 0.1s;
  @include effect-box-shadow($opacity: smooth);

  @include breakpoint(max, 576px) {
    height: __convertToRem($value: 690px);
  }

  img {
    transition: all 0.2s;
  }

  &:hover {
    background-color: rgb(226, 226, 226);
    border-bottom: solid rgb(87, 85, 85) 8px;

    img {
      @include animation-scale($scaleValue: 1.08);
    }

    .alainay,
    .zakanay {
      border: solid 2px #6666667c;
    }
  }

  .logo {
    @include position-flex-center();
    padding-top: 2rem;
    height: __convertToRem($value: 180px);
    padding-bottom: 1.3rem;

    img {
      border-radius: 10px;
      width: __convertToRem($value: 150px);
      max-height: __convertToRem($value: 150px);
    }
  }

  .content {
    padding: 1rem;

    .title {
      margin: auto;
      text-align: center;
    }

    @mixin vote_style(
      $bg_color: rgba(0, 128, 128, 0.678),
      $stat_color: #eee,
      $span_color: #333
    ) {
      margin-top: 1.2rem;
      background-color: $bg_color;
      border-radius: 10px;
      padding: 1rem;
      padding-right: 2rem;
      min-height: __convertToRem($value: 100px);

      h2 {
        color: $stat_color;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: conter;
        color: $span_color;
        opacity: 70%;
      }
    }

    @mixin avatar_adjust() {
      div > div {
        margin: auto;
        margin-top: 0.2rem;
      }
    }

    .alainay {
      @include vote_style();
      @include breakpoint(max, 576px) {
        @include avatar_adjust();
      }
    }

    .zakanay {
      @include vote_style(#f8f8f8fa, #0c0c0c, #333);
      @include breakpoint(max, 576px) {
        @include avatar_adjust();
      }
    }
  }

  .footer {
    @include position-flex-center();

    button {
      margin-top: __convertToRem($value: 5px);
      width: 33%;
      @include effect-box-shadow($opacity: small);
    }
  }
}
