@charset "UTF-8";

@import 'sass-eo-basics';
@import '../sass/buttons';

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: rgba(223, 223, 223, 0.521);
  padding: 0.3rem;
  padding-top: 2rem;
  margin-top: 1rem;
  max-width: __convertToRem($value: 500px);
  border-radius: 25px;
  height: auto;
  @include effect-box-shadow($opacity: smooth);
  transition: all 0.2s;

  @include breakpoint(min, large) {
    min-width: __convertToRem($value: 400px);
  }

  @include breakpoint(max, small) {
    min-width: __convertToRem($value: 300px);
  }

  img {
    transition: all 0.5s;
  }

  &:hover {
    background-color: rgb(233, 233, 233);
    border-bottom: solid rgb(141, 141, 141) 10px;
    @include animation-scale($scaleValue: 1.006);

    img {
      @include animation-scale($scaleValue: 1.08);
    }
  }
}

.cardMedia {
  margin: auto;
  border-radius: 13%;
  width: 45%;
  height: auto;
}

.title {
  margin: auto;
  font-size: larger;
  text-align: center;
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
}

@mixin vote_status($bg_color: rgba(255, 255, 255, 0.774)) {
  background-color: $bg_color;
  margin: 1rem;
  padding: 0.8rem;
  margin-top: 2.3rem;
  border-radius: 5px;
  flex-direction: row;
  display: flex;
}

.alainay {
  @include vote_status(rgba(0, 128, 128, 0.226));

  div {
    width: 100%;

    h2 {
      margin-top: -0.3px;
      color: #eee;
    }

    span {
      opacity: 35%;
      font-weight: 600;
    }

    @include only(last) {
      width: 70px;
      height: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.zakanay {
  @include vote_status();

  span {
    opacity: 35%;
    font-weight: 600;
  }
}
