@charset "UTF-8";

@import 'sass-eo-basics';

.contrib {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: __convertToRem($value: 250px);
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;

  .profil {
    @include position-flex-center();
    flex-direction: column;
    z-index: 3 !important;
    margin-right: 1rem;
    background-color: rgba(173, 179, 179, 0.836);
    padding: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    @include effect-box-shadow-inset($opacity: small);
    transition: all 0.1s;
    min-width: __convertToRem($value: 200px);

    &:hover {
      background-color: rgb(218, 215, 215);
      border-bottom: solid rgb(87, 85, 85) 4px;
      @include effect-box-shadow($opacity: smooth);

      ul {
        li {
          color: #444;
        }
      }
    }

    ul {
      margin: auto;
      list-style-type: square;
      padding-right: 1rem;

      li {
        color: #eee;
      }

      @include breakpoint(max, 524px) {
        font-size: 14px;
      }

      .percentage {
        color: #757474;
        font-size: small;
      }
    }

    img {
      width: 152px;
      border-radius: 50%;
      border: solid #fff 5px;
      transition: all 0.5s;

      &:hover {
        border: solid rgb(31, 160, 160) 7px;
        @include animation-scale($scaleValue: 1.1);
      }

      @include breakpoint(max, 626px) {
        width: 148px;
      }

      @include breakpoint(max, 526px) {
        width: 100px;
      }
    }

    h3 {
      background-color: #3f5755d8;
      color: #eee;
      padding: 0.2rem;
      border-radius: 5px;
    }
  }

  a {
    text-decoration: none;
  }
}

@include breakpoint(max, 412px) {
  .typingFixOnMobile {
    margin-left: -1.6rem !important;
  }
}
