@charset "UTF-8";

@import 'sass-eo-basics';

.contrib {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: __convertToRem($value: 250px);
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;

  .profil {
    @include position-flex-center();
    flex-direction: column;
    z-index: 3 !important;

    img {
      width: 152px;
      border-radius: 50%;
      border: solid #fff 5px;
      transition: all 0.5s;

      &:hover {
        border: solid rgb(31, 160, 160) 7px;
        @include animation-scale($scaleValue: 1.1);
      }

      @include breakpoint(max, 626px) {
        width: 148px;
      }

      @include breakpoint(max, 526px) {
        width: 100px;
      }
    }

    h3 {
      background-color: #3f5755d8;
      color: #eee;
      padding: 0.2rem;
      border-radius: 5px;
    }
  }

  a {
    text-decoration: none;
  }
}
