@charset "UTF-8";

// @import 'sass-eo-bootstrap-grid';
@import 'sass-eo-basics';
@include normalize();

* {
	@include antialias();
	box-sizing: border-box;
	font-family: Outfit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.3rem;
}

body {
  margin: 0;
  background-color: #eaeaea;
  font-size: __convertToRem($value: 18px);
}

@media (prefers-color-scheme: dark) {

  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
    background-color: #eaeaea;
  }
}

path {
  transform-origin: 50% 0%;
}

.background--custom {
  background-color: #FFFFFF;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150%;
  width: 100%;
}

@keyframes path0 {
  0% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes path1 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes path2 {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}