@charset "UTF-8";

@import 'sass-eo-basics';

.container {
  padding: 0 2rem;
}

.main {
  margin-top: 1%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.styledtext {
  margin: auto;
  text-align: center;
  margin-top: 4rem;
  background-color: #16191ae0;
  width: __convertToRem($value: 400px);
  padding: 1rem;
  border-radius: 10px;
  color: #eee;
  z-index: 5 !important;
  backdrop-filter: blur(8px);

  @include breakpoint(max, small) {
    width: __convertToRem($value: 300px);
  }
}

.voterstext {
  @include position-flex-center();
  font-size: 38px;
  font-weight: bolder;
  color: #444;
  @include effect-text-light($opacity: large, $colors: #eee);
}
